 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        {{#if home}}
        <li class="nav-item">
        <a class="nav-link disabled" 
        {{else}}
        <li class="nav-item active">
        <a class="nav-link" 
        {{/if}}
        href="/home"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        {{#if about}}
        <li class="nav-item">
        <a class="nav-link disabled" 
        {{else}}
        <li class="nav-item active">
        <a class="nav-link" 
        {{/if}}
          href="/about"
            >About Spock <span class="sr-only">(current)</span></a
          >
        </li>
        {{#if gallery}}
        <li class="nav-item">
        <a class="nav-link disabled" 
        {{else}}
        <li class="nav-item active">
        <a class="nav-link" 
        {{/if}}
        href="/gallery"
            >Check out his secret hobby</a
          >
        </li>
        {{#if works}}
        <li class="nav-item">
        <a class="nav-link disabled" 
        {{else}}
        <li class="nav-item active">
        <a class="nav-link" 
        {{/if}}
        href="/works"
            >His top 10 adventures</a
          >
        </li>
      </ul>
    </div>
  </nav>