<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/about.css" />
  </head>
 
 {{> navbar }}

  <body>
    <h1>Who is Commander Spock? </h1>
    <img
      src="./images/spockmeme.jpg"
      alt="The next free Vulcan is reserved for you"
      height="300"
      class="meme"
    />
  </body>
</html>
