<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Photo Gallery</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script src="/slideshow.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
 {{> navbar }}
  <body>
    <h1>Welcome in this little Photo Gallery</h1>
    <div class="spacecats w3-content w3-display-container">
      <img
        class="spaceCats"
        src="https://cdnb.artstation.com/p/assets/images/images/025/979/329/large/tom-maierle-cat-in-space.jpg?1587512609"
        style="height: 300px"
      />
      <img
        class="spaceCats"
        src="https://pbs.twimg.com/media/BcvmxibIYAAH8a3.jpg"
        style="height: 300px"
      />
      <img
        class="spaceCats"
        src="https://i.pinimg.com/originals/89/8d/44/898d44a392f2932250979efe81218bab.jpg"
        style="height: 300px"
      />
      <img
        class="spaceCats"
        src="https://i.imgur.com/zJS1bke.jpeg"
        style="height: 300px"
      />

      <button class="w3-button w3-display-left" onclick="plusDivs(-1)">
        &#10094;
      </button>
      <button class="w3-button w3-display-right" onclick="plusDivs(+1)">
        &#10095;
      </button>
    </div>
  </body>
</html>
