<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/home-page.css" />
  </head>
  <body>
    <h1>My adventures</h1>
    <section>
        “Galileo Seven” – Season 1, Episode 13
        “The Menagerie Parts 1 and 2” – Season 1, Episodes 15 and 16
        “This Side of Paradise” – Season 1, Episode 25
        “The Devil in the Dark” – Season 1, Episode 26
        “Amok Time” – Season 2, Episode 5
        “Doomsday Machine” – Season 2, Episode 6
        “Journey to Babel” – Season 2, Episode 15
        “The Enterprise Incident” – Season 3, Episode 4
        “All of Our Yesterdays” – Season 3, Episode 23
        “Unification Parts 1 and 2” – TNG Season 5, Episodes 7 and 8
    </section>
      </body>
</html>