 {{> navbar }}
    <h1>My adventures</h1>
    <section>
      <ol>
        <li>“Galileo Seven” – Season 1, Episode 13</li>
        <li>“The Menagerie Parts 1 and 2” – Season 1, Episodes 15 and 16</li>
        <li>“This Side of Paradise” – Season 1, Episode 25</li>
        <li>“The Devil in the Dark” – Season 1, Episode 26</li>
        <li>“Amok Time” – Season 2, Episode 5</li>
        <li>“Doomsday Machine” – Season 2, Episode 6</li>
        <li>“Journey to Babel” – Season 2, Episode 15</li>
        <li>“The Enterprise Incident” – Season 3, Episode 4</li>
        <li>“All of Our Yesterdays” – Season 3, Episode 23</li>
        <li>“Unification Parts 1 and 2” – TNG Season 5, Episodes 7 and 8</li>
      </ol>
    </section>

